<h1> My Messages </h1>

<% if @messages.count == 0 %>
	<p>I have no public messages at the moment</p>
<% else %>
	<div id="messages">
		<%= render @messages %>
	</div>
<% end %>

<h3>Send me a message!</h3>

<%= render 'form', message: @message %>